* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.btn-secondary, .btn-primary {
  position: relative;
  border-radius: 10px;
  padding: 10px 0px;
  width: 175px;
  height: 45px;
  text-align: center;
  font-weight: 500;
  font-size: 1.2em;
  color: white;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}
.btn-secondary:hover, .btn-primary:hover {
  transform: scale(0.95);
  background-color: #2f00ba;
}
.btn-secondary a, .btn-primary a {
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
  color: white;
  width: 100%;
  height: 45px;
}

.btn-primary {
  background-color: #4507ff;
  box-shadow: 0px 4px 1px #2f00ba;
}

.btn-secondary {
  background-color: #fc6471;
  box-shadow: 0px 4px 1px #fc4b5a;
}

.cards {
  position: relative;
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 10px;
}
.cards .card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 4px 10px 1px black;
  margin: auto;
  width: 300px;
  height: 500px;
  background-color: #1b1b1b;
  color: white;
  border-radius: 10px;
}
.cards .card img {
  margin-top: 5px;
  border-radius: 10px;
  width: 90%;
  height: 70%;
}
.cards .card-title {
  font-size: 1.5em;
  flex-grow: 1;
}
.cards .card-price {
  font-weight: 600;
}
.cards .card:hover {
  background-color: #282828;
  cursor: pointer;
}
.cards .card .btns {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.cards .card .btns .icon {
  margin: 10px;
  font-size: 2em;
  transition: all 0.3s ease-in-out;
}
.cards .card .btns .icon a {
  transition: all 0.5s ease-in-out;
  color: white;
}
.cards .card .btns .icon:hover {
  transform: scale(0.9);
}
.cards .card .btns .icon .icon-wish:hover {
  color: #fc6471;
}
.cards .card .btns .icon .icon-cart:hover {
  color: #d1ac00;
}

/*html::-webkit-scrollbar{
    display: none;
}*/
body {
  color: #282828;
  font-weight: 400;
}

.content {
  background-color: #0f0f0f;
  min-height: 80vh;
  padding: 20px;
}

nav {
  background-color: #282828;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
@media (max-width: 1000px) {
  nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
nav .logo {
  margin: 10px 30px;
  transition: all 0.5s ease-in-out;
}
nav .logo:hover {
  transform: scale(0.97);
}
nav .logo img {
  width: 200px;
  height: 100px;
}
@media (max-width: 1000px) {
  nav .logo img {
    width: 100px;
    height: 50px;
  }
}
nav .middle {
  width: 40vw;
  margin: 0px 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
nav .middle .info {
  font-size: 2em;
  font-weight: 500;
  text-align: center;
}
@media (max-width: 1000px) {
  nav .middle .info {
    width: 100%;
    font-size: 1.5em;
  }
}
nav .middle .menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
@media (max-width: 1520px) {
  nav .middle .menu {
    transform: scale(0.75);
  }
}
@media (max-width: 1000px) {
  nav .middle .menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
nav .middle .menu-item {
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 10px;
}
@media (max-width: 1000px) {
  nav .middle {
    width: 90vw;
  }
}
nav .panel {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 10px;
}
nav .panel-btn {
  margin: 10px;
  transition: all 0.3s ease-in-out;
  /*for size*/
}
nav .panel-btn a {
  transition: all 0.5s ease-in-out;
  /*for color*/
  display: block;
  color: white;
  font-size: 1.5em;
}
nav .panel-btn:hover {
  transform: scale(0.9);
}
nav .panel-btn:hover #wishlist {
  color: #fc6471;
}
nav .panel-btn:hover #cart {
  color: #d1ac00;
}/*# sourceMappingURL=menu.css.map */