{% load static %}
<footer>
    <div class="logo">
        <a href="/">
            <img src="{% static 'res/logo.svg' %}" alt="alpha">
        </a>
    </div>
    <div class="middle">
        <div class="pages">
            <div class="page">
                <a href="{% url 'store' %}">
                    Магазин
                </a>
            </div>
            <div class="page">
                <a href="{% url 'about' %}">
                    О платформе
                </a>
            </div>
            <div class="page">
                <a href="{% url 'developer' %}">
                    Разработчикам
                </a>
            </div>
    
        </div>
        <div class="copyright">
            <div class="label">©2023 Цифровая платформа Alpha Nexus</div>
            <div class="label">©1999-2023 Компьютерная Академия TOP</div>
        </div>
    </div>
    <div class="logo">
        <a href="https://www.top-academy.ru">
            <img src="{% static 'res/top.png' %}" alt="top">
        </a>
    </div>
</footer>