{% load static %}

<nav>
    <div class="logo">
        <a href="/">
            <img src="{% static 'res/logo.svg' %}" alt="alpha">
        </a>
    </div>
    <div class="middle">
        <div class="info">
            Создаем будущее вместе с Вами!
        </div>
        <div class="menu">
            {% if user.is_authenticated %}
            <div class="menu-item btn-primary">
                <a href="{% url 'library' %}">Библиотека</a>
            </div>
            {% endif %} 
            <div class="menu-item btn-primary">
                <a href="{% url 'store' %}">Магазин</a>
            </div>
            <div class="menu-item btn-primary">
                <a href="{% url 'about' %}">О платформе</a>
            </div>
            <div class="menu-item btn-primary">
                <a href="{% url 'developer' %}">Разработчикам</a>
            </div>
        </div>
    </div>
    <div class="panel">
        {% if user.is_authenticated %}
        <div class="panel-btn">
            <a href="{% url 'logout' %}" id="logout">
                <i class="fa-solid fa-arrow-right-to-bracket"></i>
            </a>
        </div>
        <div class="panel-btn">
            <a href="{% url 'cabinet' %}" id="cabinet">
                <i class="fa-solid fa-user"></i>
            </a>
        </div>
        {% else %}
        <div class="panel-btn">
            <a href="{% url 'login' %}" id="login">
                <i class="fa-solid fa-arrow-right-to-bracket"></i>
            </a>
        </div>
        <div class="panel-btn">
            <a href="{% url 'register' %}" id="register">
                <i class="fa-solid fa-user-plus"></i>
            </a>
        </div>
        {% endif %}
        <div class="panel-btn">
            <a href="{% url 'wishlist' %}" id="wishlist">
                <i class="fa-solid fa-heart"></i>
            </a>
            
        </div>
        <div class="panel-btn">
            <a href="{% url 'cart' %}" id="cart">
                <i class="fa-solid fa-cart-shopping"></i>
            </a>
        </div>
    </div>
</nav>