@import "config";
@import "mixins";
@import "buttons";
@import "cards";

/*html::-webkit-scrollbar{
    display: none;
}*/

body{
    color: set-text-color($secondary-color);
    font-weight: map-get($font-weights, "regular");
}

.content{
    background-color: darken($secondary-color, 10%);
    min-height: 82vh;
    padding: 20px;
}

h1{
    margin: 10px;
    font-size: map-get($font-sizes, "xxl");
    font-weight: map-get($font-weights, "medium");
}

.bold{
    font-weight: map-get($font-weights, "bold");
}