$primary-color: #3500D3;
$secondary-color: #282828; /*282828*/
$tertiary-color: #fc6471;
$fourth-color: #d1ac00;
$text-color: white;

$font-weights: (
    "regular": 400,
    "medium": 500,
    "bold": 600
);

$mobile: 1000px;

$font-sizes: (
    "small": 0.8em,
    "regular": 1em,
    "large": 1.2em,
    "xl": 1.5em,
    "xxl": 2em,
    "xxxl": 4em
);

@function set-text-color($color){
    @if(lightness($color) > 70){
        @return $secondary-color;
    }
    @else{
        @return $text-color;
    }
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

