@mixin flexCenter($direction){
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}

@mixin fadeTransition{
    transition: all 0.5s ease-in-out;
}

@mixin mobile{
    @media (max-width: $mobile){
        @content
    }
}

