@import "base";

nav{
    background-color: $secondary-color;
    color: set-text-color($secondary-color);
    min-height: 125px;

    @include flexCenter(row);

    @include mobile{
        @include flexCenter(column);
    }

    .logo{

        $logo-width: 200px;
        $logo-height: 100px;

        margin: 10px 30px;
        line-height: 1.5;
        @include fadeTransition(0.5s);
        width: $logo-width;
        height: $logo-height;

        @include mobile{
            width: calc($logo-width / 2);
            height: calc($logo-height / 2);
        }

        &:hover{
            transform: scale(0.97);
        }
        img{
            width: $logo-width;
            height: $logo-height;

            @include mobile{
                width: calc($logo-width / 2);
                height: calc($logo-height / 2);
            }
        }
    }
    .middle{
        width: 40vw;
        margin: 0px 60px;
        @include flexCenter(column);
        .info{
            font-size: map-get($font-sizes, "xxl");
            line-height: 1.5;
            font-weight: map-get($font-weights, "medium");
            text-align: center;
    
            @include mobile{
                
                width: 100%;
                font-size: map-get($font-sizes, "xl");
            }
        }
    
        .menu{
            @include flexCenter(row);
        
            @include adaptive(1520px){
                transform: scale(0.75);
            }
            @include mobile{
                @include flexCenter(column);
            }
    
            &-item{
                display: flex;
                @include flexCenter(row);
                margin: 10px;
            }
        }
        @include mobile{
            width: 90vw;
        }
    }

    .panel{
        @include flexCenter(row);
        margin: 10px;
        &-btn{
            margin: 10px;
            @include fadeTransition; /*for size*/
            a{
                @include fadeTransition(0.5s); /*for color*/
                display: block;
                color: white;
                font-size: map-get($font-sizes, "xl");
            }
            &:hover{
                transform: scale(0.9);
                #wishlist{
                    color: $tertiary-color;
                }
                #cart{
                    color: $fourth-color;
                }
                #logout{
                    color: red;
                }
                
            }
            
        }
    }
}

