{% extends 'base.html' %}

{% load static %}
{% block title %}Изменение пользователя{% endblock title %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/cabinet.css' %}">
{% endblock styles %}

{% block content %}
{% if user.background %}
    <img class="bg" src="{% get_media_prefix %}{{user.background}}" alt="">
{% endif %}
<div class="cabinet">
    <div class="bg-block">
        <div class="avatar-block">
            {% if user.avatar %}
            <img src="{% get_media_prefix %}{{user.avatar}}" alt="">
            {% else %}
            <img src="{% static 'res/placeholder.png' %}" alt="Аватар">
            {% endif %}
            <h1 class="bold">{{user.username}}</h1>
            <p>{{user.first_name}} {{user.last_name}}</p>
            <a href="{% url 'change_user' %}" class="btn-primary">Изменить уч. запись</a>
        </div>
        {% if user.bio %}
        <div class="bio">
            <p>{{user.bio}}</p>
        </div>
        {% endif %}

    </div>
    {% if user.developer %}
    <h1 style="position: relative; z-index: 2;">Является разработчиком в:</h1>
    <div class="dev-card" style="position: relative; z-index: 2;" onclick="document.location.href = '{% url 'developer_games' user.developer.id %}'">
        <div class="logo">
            <img src="{% get_media_prefix %}{{user.developer.logo}}" alt="{{user.developer}}">
        </div>
        <div class="dev-info">
            <div class="name">{{user.developer.name}}</div>
            <div class="email">{{user.developer.email}}</div>
            <div class="youtube">
                {% if user.developer.youtube %}
                <a href="{{user.developer.youtube}}" class="youtube"><i class="fa-brands fa-youtube"></i></a>
                {% endif %}
            </div>
            <div class="bio">{{user.developer.bio}}</div>
            <div class="creator">
                Создатель: <a href="{% url 'users' user.developer.creator.id%}">{{user.developer.creator}}</a>
            </div>
        </div>
    </div>
    {% endif %}
    {% if library %}
    <h1 style="position: relative; z-index: 2; text-shadow: 0 0 10px rgba(0,0,0,1), 0 0 10px rgba(0,0,0,1), 0 0 10px rgba(0,0,0,1);">Купленные игры:</h1>
    <div class="cards" style="position: relative; z-index: 2;">
        {% for item in library %}
        <div class="card" onclick="document.location.href='{% url 'product' item.product.id %}'">
            <img src="{% get_media_prefix %}{{item.product.banner}}" alt="Баннер {{item.product.name}}">
            <div class="card-title">{{item.product}}</div>
        </div>
        {% endfor %}
    </div>
    {% endif %}
</div>

{% endblock content %}