{% extends 'base.html' %}

{% load static %}

{% block title %}Главная страница{% endblock title %}

{% block styles %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock styles %}

{% block content %}

<div class="carousel-block">
  <div id="carouselExampleDark" class="carousel slide carousel-fade">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="10000">
          <img src="https://mobimg.b-cdn.net/v2/fetch/46/4610dad53f6de84ff1df21af8dfded3d.jpeg" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h3>Лучшая платформа для инди-разработчиков!</h3>
            <h5>Максимально свободный и удобный интерфейс. Неограниченные возможности!</h5>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="2000">
          <img src="https://cellularnews.com/images/hd/games-3704X2036-agl6pzz6y9wlyhmf.jpeg" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h3>Выгодные условия!</h3>
            <h5>Процент выручки для разработчика больше, чем на аналогичных платформах!</h5>
          </div>
        </div>
        <div class="carousel-item">
          <img src="https://wallpapers.com/images/featured/p9ewor9qk53qgtyj.jpg" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h3>Игры вне политики!</h3>
            <h5>Мы одинаково относимся ко всем пользователям платформы, вне зависимости от их страны!</h5>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
  </div>
</div>

  
<div class="additional">
  <h1>Хочешь опубликовать свой товар?</h1>
  <p>Это можно сделать всего за пару кликов!</p>
  <a href="about" class="btn-primary">Узнать больше</a>
</div>

<h1>Свежие релизы</h1>
<div class="cards">
  {% comment "add cycle here" %}
  add click functionality to open new page
  {% endcomment %}
  {% for product in products %}
  <div class="card" id="{{product.id}}" onclick="document.location.href='{% url 'product' product.id %}'">
    <img src="{% get_media_prefix %}{{product.banner}}" alt="Баннер {{product.name}}">
    <div class="card-title">{{product}}</div>
    <div class="card-price">{{product.price|stringformat:".2f"}} ₽</div>
    {% include "includes/wishcart.html" %}
  </div>
  {% endfor %}
</div>

<div class="posts">

</div>
{# comment "Посты, топ 5 или 10" #}{# endcomment #}

<script>
  console.log(window.location.host);
</script>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js" integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js" integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ" crossorigin="anonymous"></script>
{% endblock content %}