{% extends 'base.html' %}

{% load static %}
{% block title %}Библиотека{% endblock title %}

{% block styles %}

{% endblock styles %}

{% block content %} 
<h1>Ваши купленные игры</h1>
<div class="cards">
    <div class="card" id="">
        <img src="https://m.media-amazon.com/images/I/6110RSDn3PL.jpg" alt="">
        <div class="card-title">Game of the year</div>
        <div class="btns">
            <div class="icon">
                <a href="">
                    <i class="fa-solid fa-compact-disc"></i>
                </a>
            </div>
            <div class="icon">
                <a href="">
                    <i class="fa-solid fa-download"></i>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock content %} 
