{% extends 'base.html' %}

{% load static %}

{% block title %}Главная страница{% endblock title %}

{% block styles %}

{% endblock styles%}

{% block content %}
<h1>Каталог</h1>
<div class="cards">
  {% for product in products %}
  <div class="card" id="{{product.id}}">
    <img src="/media/{{product.banner}}" alt="Баннер {{product.name}}">
    <div class="card-title">{{product}}</div>
    <div class="card-price">{{product.price}} ₽</div>
    <div class="btns">
      <div class="icon">
        <a href="{% url 'wishlist' %}" class="icon-wish">
          <i class="fa-solid fa-heart"></i>
        </a>
      </div>
      <div class="icon">
        <a href="{% url 'cart' %}" class="icon-cart">
          <i class="fa-solid fa-shopping-cart"></i>
        </a>
      </div>
    
    </div>
  </div>
  {% endfor %}
</div>

{% endblock content %}
