{% extends 'base.html' %}

{% load static %}
{% block title %}Пользователь{% endblock title %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/cabinet.css' %}">
{% endblock styles %}

{% block content %}
{% if user.background %}
    <img class="bg" src="{% get_media_prefix %}{{user.background}}" alt="">
{% endif %}
<div class="cabinet">
    <div class="bg-block">
        <div class="avatar-block">
            {% if user.avatar %}
            <img src="{% get_media_prefix %}{{user.avatar}}" alt="">
            {% else %}
            <img src="{% static 'res/placeholder.png' %}" alt="Аватар">
            {% endif %}
            <h1 class="bold">{{user.username}}</h1>
            <p>{{user.first_name}} {{user.last_name}}</p>
        </div>
        {% if user.is_private %}
        <p>Пользователь скрыл свой профиль.</p>
        {% else %}
            {% if user.bio %}
            <div class="bio">
                <p>{{user.bio}}</p>
            </div>
            {% endif %}
        <div class=""></div>
        {% endif %}
    </div>
    <div class="dev-block">
        
    </div>
    <div class="game-block">

    </div>
</div>

{% endblock content %}