{% extends 'base.html' %}

{% load static %}

{% block title %}Список желаемого{% endblock title %}

{% block styles %}

{% endblock styles%}

{% block content %}
<h1>Список желаемого</h1>
{% if user.wishlist.all %}
<div class="cards">
  {% for product in user.wishlist.all %}
  <div class="card" id="{{product.id}}" onclick="document.location.href='{% url 'product' product.id %}'">
    <img src="/media/{{product.banner}}" alt="Баннер {{product.name}}">
    <div class="card-title">{{product}}</div>
    <div class="card-price">{{product.price}} ₽</div>
    {% include "includes/wishcart.html" %}
  </div>
  {% endfor %}
</div>
{% else %}
<div>Список пуст.</div>
{% endif %}

{% endblock content %}
